*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    padding: 0.5rem 1.7rem;
    border: none;
    background-color: rgb(33, 33, 151);
    color: white;
    border-radius: 0.3rem;
    font-size: 20px;
}
span{
    color: rgb(249, 163, 25);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10rem;
    font-size: 30px;
}